.fixed_title_menu {
  position: fixed;
  opacity: 0;
  background-color: #343434;
  width: 100%;
  color: #f3f3f3;
  z-index: 1000; }
  .fixed_title_menu .links {
    position: absolute;
    right: 100px;
    color: #f3f3f3; }
  .fixed_title_menu .the_cloud {
    position: absolute;
    left: -42px;
    top: 11px;
    font-size: 1em; }
  .fixed_title_menu .the_user {
    position: absolute;
    right: -42px;
    top: 11px;
    font-size: 1em; }
  .fixed_title_menu .the_post {
    position: absolute;
    right: 0px;
    top: 11px;
    font-size: 1em; }

#map-container {
  width: 100%;
  height: 100vh; }

#map-loading {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: url("/ajax-loader_transparent.gif") 50% 50% no-repeat; }

.errors_container {
  width: 40%;
  margin: 0 auto;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 7000; }

.alert {
  margin: 10px auto; }

#menu {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 0px;
  margin: 0px;
  z-index: 1001; }
  #menu ul {
    list-style-type: none;
    padding: 0px; }
    #menu ul li {
      padding: 0px;
      margin: 0px;
      margin-right: 5px;
      display: inline; }
  #menu .logout {
    color: #428bca; }
  #menu .logout:hover {
    cursor: pointer;
    color: #2a6496;
    text-decoration: underline; }

.logout {
  color: #428bca; }

.logout:hover {
  cursor: pointer;
  color: #2a6496;
  text-decoration: underline; }

.horizontal_panel {
  padding: 5px;
  background-color: #343434;
  color: #f3f3f3;
  text-align: center; }
  .horizontal_panel h2 {
    padding: 0px;
    margin: 0px; }

.container {
  position: relative;
  width: 80%;
  padding: 0px;
  padding-top: 12px;
  padding-bottom: 0px; }

.header {
  height: 50px;
  width: 100%; }

#title {
  position: relative;
  top: 0px;
  padding: 0px;
  padding-bottom: 5px;
  width: 400px; }
  #title h1 {
    padding: 0px;
    margin: 0px; }
  #title .karma_cloud-title {
    color: black; }

.top_stories {
  position: relative;
  min-height: 70vh;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d2d2d2));
  background: -webkit-linear-gradient(top, #d2d2d2, #ffffff);
  background: -moz-linear-gradient(top, #d2d2d2, #ffffff);
  background: -ms-linear-gradient(top, #d2d2d2, #ffffff);
  background: -o-linear-gradient(top, #d2d2d2, #ffffff); }

.top_story {
  position: relative;
  display: inline-block;
  width: 80%; }
  .top_story h2 {
    text-align: left; }

.login_forms {
  position: relative;
  bottom: 4px;
  text-align: right; }

.create_forms {
  position: relative;
  bottom: 4px;
  text-align: right; }

.map_bar {
  position: relative;
  height: 70px;
  width: 100%;
  border-top: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #e0e0e0;
  background-color: #f0f0f0; }

.map_canvas {
  width: 100%;
  height: 100vh;
  background-color: #999999;
  margin: 0px; }

.mission_statement {
  display: block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding-top: 0px; }
  .mission_statement h2 {
    margin: 0px; }

.story {
  position: relative;
  width: 60%;
  margin: auto;
  border-style: solid;
  border-radius: 10px;
  border-size: 0px;
  border-size-top: 0px;
  border-color: #525252;
  margin-bottom: 5px; }
  .story .story_wrapper {
    width: 90%;
    margin: auto;
    padding: 10px; }
  .story .red_story {
    color: red; }
  .story .green_story {
    color: green; }
  .story .story_posted {
    text-align: right; }
  .story .story_content {
    font-size: 2em; }

.story_feed {
  width: 80%;
  margin: auto; }
  .story_feed .comment-link {
    color: #428bca; }
  .story_feed .comment-link:hover {
    cursor: pointer;
    color: #2a6496;
    text-decoration: underline; }

/* User Profile page */
.user-profile-left {
  border-right: 1px solid #ccc;
  position: absolute;
  height: 100%;
  background: -webkit-linear-gradient(top, #d2d2d2, #ffffff);
  background: -moz-linear-gradient(top, #d2d2d2, #ffffff);
  background: -ms-linear-gradient(top, #d2d2d2, #ffffff);
  background: -o-linear-gradient(top, #d2d2d2, #ffffff); }
  .user-profile-left img {
    margin-bottom: 20px; }
  .user-profile-left ul {
    list-style: none;
    padding: 0; }
    .user-profile-left ul li {
      margin: 10px 0; }
  .user-profile-left .inner-bar {
    width: 60%;
    margin: 30px auto;
    min-width: 210px; }
    .user-profile-left .inner-bar div {
      margin: 20px 0; }
    .user-profile-left .inner-bar .input-group {
      margin-bottom: 0; }
  .user-profile-left .user-avatar {
    border-radius: 100px; }

.user-profile-right {
  margin-left: 25%;
  float: left;
  padding: 25px 50px;
  overflow: auto; }
  .user-profile-right .event {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer; }
    .user-profile-right .event:hover {
      background-color: #d9edf7; }
    .user-profile-right .event p {
      color: #777; }

.story_title {
  width: 300px; }

.profile_avatar {
  position: absolute;
  text-align: right;
  top: 0px;
  right: 0px; }

/* Story view page */
.story-view-left {
  padding-left: 0; }
  .story-view-left .input-group {
    width: 200px; }

.story-view-right {
  border-left: 1px solid #eee;
  padding: 0px 20px; }
  .story-view-right .map {
    width: 100%;
    height: 450px;
    border: 1px solid #ccc; }

.comments {
  margin-top: 20px; }
  .comments textarea {
    width: 100%; }

.karma_ammount-input {
  width: 25%; }

.loading {
  background: #c1c39a;
  color: #303030;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  width: 450px;
  margin: 0px auto;
  display: none;
  border-radius: 5px; }

.karma_count {
  position: absolute;
  bottom: 6px;
  right: 0px; }

.karma_count_fixed {
  position: absolute;
  bottom: 6px;
  width: 100%;
  margin: auto; }

.cloud_box {
  transform-style: preserve-3d;
  z-index: -9999;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 22%;
  color: #f3f3f3; }
  .cloud_box:nth-child(1) {
    top: 16vh;
    left: 37vw;
    transform: scale(14); }
  .cloud_box:nth-child(2) {
    top: 25vh;
    left: 58vw;
    transform: scale(10); }
  .cloud_box:nth-child(3) {
    top: 23vh;
    left: 72vw;
    transform: scale(18); }
  .cloud_box:nth-child(4) {
    top: 8vh;
    left: 42vw;
    transform: scale(15); }
  .cloud_box:nth-child(5) {
    top: 68vh;
    left: 34vw;
    transform: scale(5); }
  .cloud_box:nth-child(6) {
    top: 46vh;
    left: 17vw;
    transform: scale(14); }
  .cloud_box:nth-child(7) {
    top: 6vh;
    left: 56vw;
    transform: scale(10); }
  .cloud_box:nth-child(8) {
    top: 65vh;
    left: 13vw;
    transform: scale(10); }
  .cloud_box:nth-child(9) {
    top: 50vh;
    left: 71vw;
    transform: scale(6); }
  .cloud_box:nth-child(10) {
    top: 15vh;
    left: 49vw;
    transform: scale(10); }

.cloud_box_last {
  transform-style: preserve-3d;
  z-index: -9999;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 22%;
  color: #f3f3f3; }
  .cloud_box_last:nth-child(1) {
    top: 39vh;
    left: 49vw;
    transform: scale(18); }
  .cloud_box_last:nth-child(2) {
    top: 14vh;
    left: 13vw;
    transform: scale(22); }
  .cloud_box_last:nth-child(3) {
    top: 71vh;
    left: 68vw;
    transform: scale(15); }
  .cloud_box_last:nth-child(4) {
    top: 40vh;
    left: 51vw;
    transform: scale(2); }
  .cloud_box_last:nth-child(5) {
    top: 13vh;
    left: 20vw;
    transform: scale(7); }
  .cloud_box_last:nth-child(6) {
    top: 34vh;
    left: 26vw;
    transform: scale(19); }
  .cloud_box_last:nth-child(7) {
    top: 34vh;
    left: 55vw;
    transform: scale(3); }
  .cloud_box_last:nth-child(8) {
    top: 37vh;
    left: 40vw;
    transform: scale(1); }
  .cloud_box_last:nth-child(9) {
    top: 43vh;
    left: 1vw;
    transform: scale(18); }
  .cloud_box_last:nth-child(10) {
    top: 63vh;
    left: 9vw;
    transform: scale(3); }
    top: 54vh;
    left: 36vw;
    transform: scale(6); }

/*# sourceMappingURL=style.css.map */

  .story_title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration:none;
  }
  
  .story_title:hover {
    text-decoration: underline;
    color: black;
  }
