#map-container {
  width: 100%;
  height: 100vh; }

#map-loading {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: url("/ajax-loader.gif") 50% 50% no-repeat; }

.alert {
  position: fixed;
  top: 47px;
  left: 0;
  right: 0;
  z-index: 7000;
  width: 40%;
  margin: 0 auto; }

#menu {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 0px;
  margin: 0px;
  z-index: 500; }
  #menu ul {
    list-style-type: none;
    padding: 0px; }
    #menu ul li {
      padding: 0px;
      margin: 0px;
      margin-right: 5px;
      display: inline; }
  #menu .logout {
    color: #428bca; }
  #menu .logout:hover {
    cursor: pointer;
    color: #2a6496;
    text-decoration: underline; }

.horizontal_panel {
  padding: 5px;
  background-color: #343434;
  color: #f3f3f3;
  text-align: center; }
  .horizontal_panel h2 {
    padding: 0px;
    margin: 0px; }

.container {
  position: relative;
  width: 80%;
  padding: 0px;
  padding-top: 12px;
  padding-bottom: 0px; }

.header {
  height: 50px;
  width: 100%; }

#title {
  position: relative;
  top: 0px;
  padding: 0px;
  padding-bottom: 5px; }
  #title h1 {
    padding: 0px;
    margin: 0px; }
  #title .karma_cloud-title {
    color: black; }

.top_stories {
  position: relative;
  min-height: 70vh;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d2d2d2));
  background: -webkit-linear-gradient(top, #d2d2d2, #ffffff);
  background: -moz-linear-gradient(top, #d2d2d2, #ffffff);
  background: -ms-linear-gradient(top, #d2d2d2, #ffffff);
  background: -o-linear-gradient(top, #d2d2d2, #ffffff); }

.top_story {
  position: relative;
  display: inline-block;
  width: 80%; }
  .top_story h2 {
    text-align: left; }

.login_forms {
  position: relative;
  bottom: 4px;
  text-align: right; }

.create_forms {
  position: relative;
  bottom: 4px;
  text-align: right; }

.map_bar {
  position: relative;
  height: 70px;
  width: 100%;
  border-top: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #e0e0e0;
  background-color: #f0f0f0; }

.map_canvas {
  width: 100%;
  height: 100vh;
  background-color: #999999;
  margin: 0px; }

.mission_statement {
  display: block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding-top: 0px; }
  .mission_statement h2 {
    margin: 0px; }

.story {
  position: relative;
  width: 100%;
  border-style: solid;
  border-size: 0px;
  border-size-top: 0px;
  border-color: black;
  margin-bottom: 5px; }

.story_feed {
  width: 80%;
  margin: auto; }
  .story_feed .comment-link {
    color: #428bca; }
  .story_feed .comment-link:hover {
    cursor: pointer;
    color: #2a6496;
    text-decoration: underline; }

/* User Profile page */
.user-profile-left {
  border-right: 1px solid #ccc;
  position: absolute;
  height: 100%;
  background: -webkit-linear-gradient(top, #d2d2d2, #ffffff);
  background: -moz-linear-gradient(top, #d2d2d2, #ffffff);
  background: -ms-linear-gradient(top, #d2d2d2, #ffffff);
  background: -o-linear-gradient(top, #d2d2d2, #ffffff); }
  .user-profile-left img {
    margin-bottom: 20px; }
  .user-profile-left ul {
    list-style: none;
    padding: 0; }
    .user-profile-left ul li {
      margin: 10px 0; }
  .user-profile-left .inner-bar {
    width: 60%;
    margin: 30px auto;
    min-width: 210px; }
    .user-profile-left .inner-bar div {
      margin: 20px 0; }
    .user-profile-left .inner-bar .input-group {
      margin-bottom: 0; }
  .user-profile-left .user-avatar {
    border-radius: 100px; }

.user-profile-right {
  margin-left: 25%;
  float: left;
  padding: 25px 50px;
  overflow: auto; }
  .user-profile-right .event {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer; }
    .user-profile-right .event:hover {
      background-color: #d9edf7; }
    .user-profile-right .event p {
      color: #777; }

.story_title {
  width: 300px; }

.profile_avatar {
  position: absolute;
  top: 0px;
  right: 0px; }

/* Story view page */
.story-view-left {
  padding-left: 0; }
  .story-view-left .input-group {
    width: 200px; }

.story-view-right {
  border-left: 1px solid #eee;
  padding: 0px 20px; }
  .story-view-right .map {
    width: 100%;
    height: 450px;
    border: 1px solid #ccc; }

.comments {
  margin-top: 20px; }
  .comments textarea {
    width: 100%; }

.karma_ammount-input {
  width: 25%; }

/*# sourceMappingURL=style.css.map */
