<div id="box">
<% 10.times do %>
<div class="cloud_box" ><span class="glyphicon glyphicon-cloud" ></span></div>
<% end %>
</div>



<div class='fixed_title_menu' data-40='top:0px;opacity:0;' data-75='top:0px;opacity:1;'>



<div class="horizontal_panel">
      <div class="top_story">
        <h2>
        </span>theCloud  <small> <%= @date %> </small>
        </h2>
        <div class='the_cloud'><span class="glyphicon glyphicon-cloud" ></span></div>
      </div>
    </div>
</div>
    
    <div class="horizontal_panel">
      <div class="top_story">
        <h2>
        theCloud  <small> <%= @date %> </small>
        </h2>
      </div>
    </div>
 
  </div>
</div>

<div id="map-container" data-400='top:0px;opacity:1;' data-600='top:-1000px;opacity:0; transform-y: 100px;'>
  <div id="map-loading"></div>
  <div class="hidden map_canvas" id="map-canvas"></div>
</div>

<div class="mission_statement">

  <h2>
    Share With Each Other...
  </h2>
</div>

<div class="story_feed" id="content">
<script>
$(function(){
  $('#content').scrollPagination({
    'contentPage': '/story_feed', // the url you are fetching the results
    'contentData': {}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
    'scrollTarget': $(window), // who gonna scroll? in this example, the full window
    'heightOffset': 1, // it gonna request when scroll is 10 pixels before the page ends
    'beforeLoad': function(){ // before load function, you can display a preloader div
      $('#loading').fadeIn(); 
       $('#content').stopScrollPagination();
    },
    'afterLoad': function(elementsLoaded){ // after loading content, you can use this function to animate your new elements
         $('#content').scrollPagination({
    'contentPage': '/last_story_feed', // the url you are fetching the results
    'contentData': {}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
    'scrollTarget': $(window), // who gonna scroll? in this example, the full window
    'heightOffset': 1, // it gonna request when scroll is 10 pixels before the page ends
    'beforeLoad': function(){ // before load function, you can display a preloader div
      $('#loading').fadeIn(); 
       $('#content').stopScrollPagination();
    },
    'afterLoad': function(elementsLoaded){ // after loading content, you can use this function to animate your new elements
       $('.cloud_box').fadeIn();
       $('#content').scrollPagination();
       $('#loading').fadeOut();
       var i = 0;
       $(elementsLoaded).fadeInWithDelay();
       if ($('#content').children().size() > 1){ // if more than 100 results already loaded, then stop pagination (only for testing)
        
       }
    }
  });
  
  // code for fade in element by element
  $.fn.fadeInWithDelay = function(){
    var delay = 0;
    return this.each(function(){
      $(this).delay(delay).animate({opacity:1}, 900);
      delay += 10;
    });
  };
       $('#loading').fadeOut();
       var i = 0;
       $(elementsLoaded).fadeInWithDelay();
       if ($('#content').children().size() > 1){ // if more than 100 results already loaded, then stop pagination (only for testing)
        
       }
    }
  });
  
  // code for fade in element by element
  $.fn.fadeInWithDelay = function(){
    var delay = 0;
    return this.each(function(){
      $(this).delay(delay).animate({opacity:1}, 200);
      delay += 10;
    });
  };
       
});
</script>

</div>
<div class="loading" id="loading">Loading please wait...</div>
    <div class="loading" id="nomoreresults">Sorry, no more results to display.</div>
<script type="text/javascript" src="javascript/map.js"></script>


 