
<div class="top_stories">
  <div class="top_stories-bg">
    <div class="horizontal_panel">
      <div class="top_story">
        <h2>
        Todays Top Stories
        </h2>
      </div>
    </div>
    <div class="container">
      <div id="top_5">
        <h3>Story 1</h3>
        <div class="story"></div>
        <h3>Story 2</h3>
        <div class="story"></div>
        <h3>Story 3</h3>
        <div class="story"></div>
        <h3>Story 4</h3>
        <div class="story"></div>
        <h3>Story 5</h3>
        <div class="story"></div>
      </div>
    </div>
  </div>
</div>
<div class='map_bar'></div>
<div class="map_canvas" id="map-canvas"></div>

<div class="mission_statement">

  <h2>
    Help One Another...
    Share With Each Other...
  </h2>
</div>
<h2>
    Latest Stories
  </h2>
<div class="story_feed">

  
<div id="accordion">
  <% 10.times do |x| %>
  <h3>Section 1</h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
  </div>
  <% end %>
</div>
  
  
</div>
<script type="text/javascript">getLocation();</script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
  </script>
    <script>
  $(function() {
    $( "#top_5" ).accordion({
      collapsible: true
    });
  });
  </script>

 