  <div id="map-canvas"></div>
  <script src="/javascript/jquery.js"></script>
  <script type="text/javascript" src="javascript/markerclusterer.js"></script>
  <script type="text/javascript" src="javascript/map.js"></script>
