<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= include_gon %>

  <link rel="stylesheet" href="/stylesheets/application.css">

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7gQpc44MXI-1hxqphb4VJpg92xtjgig">
  </script>

  <script type="text/javascript" src="javascript/map.js"></script>
</head>
<body>
  
  <div id="map-canvas"></div>

</body>
</html> 